html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.randomizeButton{
  padding:20px;
  background-color: #f5b042;

}
.row{
  display: flex;
}
.column{
  flex: 50%;
  margin: 10px;
}
